.forwardbutton,
.backbutton {
  cursor: pointer;
  width: auto;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: xx-large;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

#slideButtons {
  display: flex;
  width: 90vw;
  justify-content: space-between;
}



height: calc(var(--vh, 1vh) * 4);
width: calc(var(--vw, 1vw) * 4);




max screen for mobile view = 1050px